* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ccd5ae;
}

h1 {
  font-size: 4rem;
  color: white;
}

.container {
  width: 640px;
  height: 640px;
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  background: #fefae0;
}

.inputs {
  width: 640px;
  display: flex;
  flex-direction: row;
}

.size {
  width: 100%;
}

button {
  background-color: #faedce;
  margin: 0 5px;
  border-radius: 10px;
  border: none;
  padding: 5px 50px;
}

.colors {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
